In [35]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
train = pd.read_csv(r"C:\Users\Smriti Priya\Desktop\Hackathon\problem dataset\train data.csv")
test = pd.read_csv(r"C:\Users\Smriti Priya\Desktop\Hackathon\problem dataset\test data.csv")

In [37]:
train.dtypes

id          int64
epoch      object
sat_id      int64
x         float64
y         float64
z         float64
Vx        float64
Vy        float64
Vz        float64
x_sim     float64
y_sim     float64
z_sim     float64
Vx_sim    float64
Vy_sim    float64
Vz_sim    float64
dtype: object

In [38]:
test.dtypes

id          int64
sat_id      int64
epoch      object
x_sim     float64
y_sim     float64
z_sim     float64
Vx_sim    float64
Vy_sim    float64
Vz_sim    float64
dtype: object

In [39]:
train.shape

(649912, 15)

In [40]:
test.shape

(284071, 9)

In [41]:
train.head(3)

,id,epoch,sat_id,x,y,z,Vx,Vy,Vz,x_sim,y_sim,z_sim,Vx_sim,Vy_sim,Vz_sim
0,0,2014-01-01T00:00:00.000,0,-8855.823863,13117.780150,-20728.35323,-0.908303,-3.808436,-2.022083,-8843.131454,13138.221690,-20741.61531,-0.907527,-3.804930,-2.024133
1,1,2014-01-01T00:46:43.000,0,-10567.672380,1619.746066,-24451.81327,-0.302590,-4.272617,-0.612796,-10555.500070,1649.289367,-24473.08956,-0.303704,-4.269816,-0.616468
2,2,2014-01-01T01:33:26.001,0,-10578.684040,-10180.467460,-24238.28095,0.277435,-4.047522,0.723155,-10571.858470,-10145.939910,-24271.16978,0.274880,-4.046788,0.718768

In [42]:
test.head(3)

,id,sat_id,epoch,x_sim,y_sim,z_sim,Vx_sim,Vy_sim,Vz_sim
0,3927,1,2014-02-01T00:01:45.162,-13366.891350,-14236.75350,6386.774555,4.333815,-0.692764,0.810774
1,3928,1,2014-02-01T00:22:57.007,-7370.434039,-14498.77152,7130.411325,5.077413,0.360609,0.313402
2,3929,1,2014-02-01T00:44:08.852,-572.068654,-13065.28950,7033.794876,5.519106,2.012830,-0.539412

In [43]:
train.isnull().sum()

id        0
epoch     0
sat_id    0
x         0
y         0
z         0
Vx        0
Vy        0
Vz        0
x_sim     0
y_sim     0
z_sim     0
Vx_sim    0
Vy_sim    0
Vz_sim    0
dtype: int64

In [44]:
test.isnull().sum()

id        0
sat_id    0
epoch     0
x_sim     0
y_sim     0
z_sim     0
Vx_sim    0
Vy_sim    0
Vz_sim    0
dtype: int64

In [45]:
train['epoch'] = pd.to_datetime(train['epoch'])

train['year'] = train['epoch'].dt.year
train['month'] = train['epoch'].dt.month
train['day'] = train['epoch'].dt.day
train['hour'] = train['epoch'].dt.hour
train['minute'] = train['epoch'].dt.minute
train['second'] = train['epoch'].dt.second
train['weekday'] = train['epoch'].dt.weekday
train['week'] = train['epoch'].dt.week
train.shape

(649912, 23)

In [46]:
test['epoch'] = pd.to_datetime(test['epoch'])

test['year'] = test['epoch'].dt.year
test['month'] = test['epoch'].dt.month
test['day'] = test['epoch'].dt.day
test['hour'] = test['epoch'].dt.hour
test['minute'] = test['epoch'].dt.minute
test['second'] = test['epoch'].dt.second
test['weekday'] = test['epoch'].dt.weekday
test['week'] = test['epoch'].dt.week
test.shape

(284071, 17)

In [47]:
target = train.drop(['id','epoch','sat_id','x_sim','y_sim','z_sim','Vx_sim','Vy_sim','Vz_sim','year','month','day','hour','minute','second','weekday','week'], axis=1)
df_train = train.drop(['id','epoch','sat_id','x','y','z','Vx','Vy','Vz'], axis=1)
df_test = test.drop(['id','epoch','sat_id'], axis=1)

In [48]:
df_train.shape

(649912, 14)

In [49]:
target.shape

(649912, 6)

In [50]:
df_test.shape

(284071, 14)

In [51]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_train, target, test_size=0.2, random_state=99)

In [52]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
LR.score(x_test, y_test)

C:\Users\Smriti Priya\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.9231340712899745

In [54]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor()
RF.fit(x_train, y_train)

C:\Users\Smriti Priya\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [55]:
RF.score(x_test, y_test)

C:\Users\Smriti Priya\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.9928998922175238

In [57]:
pred = RF.predict(df_test)
pred

array([[-1.99214070e+04, -1.19611175e+04,  6.74378693e+03,
         2.73377665e+00, -1.78719316e+00,  3.58344853e-01],
       [-1.67491706e+04, -1.24747180e+04,  3.95919182e+03,
         3.13530445e+00, -1.18031647e+00,  1.23302315e+00],
       [-1.14823359e+04, -1.36465404e+04,  7.86055216e+03,
         4.28707162e+00,  1.36586550e-01,  6.78296873e-01],
       ...,
       [ 2.57881349e+04, -8.47257703e+04,  5.10478394e+03,
        -1.74116260e+00,  7.40881649e-02,  1.22554960e-01],
       [ 1.54195253e+04, -8.39562817e+04,  5.82090791e+03,
        -1.82195648e+00,  3.62760399e-01,  1.05684348e-01],
       [ 1.82056278e+03, -7.94005070e+04,  6.46817115e+03,
        -1.85810401e+00,  7.94099239e-01,  7.32761746e-02]])

In [60]:
df_pred = pd.DataFrame(pred, columns=['x','y','z','Vx','Vy','Vz'])
df_pred.head()

              x             y            z        Vx        Vy        Vz
0 -19921.406950 -11961.117546  6743.786935  2.733777 -1.787193  0.358345
1 -16749.170649 -12474.718031  3959.191823  3.135304 -1.180316  1.233023
2 -11482.335897 -13646.540395  7860.552156  4.287072  0.136587  0.678297
3   3403.957234  -8877.696976  6169.221868  3.642366  1.647564 -1.693612
4   1675.312777  -8414.417483  7094.017008  4.195018  3.176691 -1.451889